
body{
    background-color: cadetblue;
     margin: 0;
  text-align: center; 
}

.head{
    color: rgb(210, 60, 22);
    background-color: darkcyan;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 20px;
}

#main {
text-align: center;
justify-content: center;
text-align: center;
height: 100vh;
color: blue;
font-weight: 800;
font-size: xx-large;
padding: 10px;
margin-top: 150px;
}
#decreaseBtn ,#increaseBtn{
    padding: 10px;
}